# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

- **Languages of Data Science.**
- **Libraries of Data Science.**
- **Arithmetic expressions.**
- **Uses of tables.**
- **run and insert different cells.**

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. matplotlib

|  Data Science Tools | 
|-|
|  RStudio  |
|  Tensorflow  |
|  Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Juan Reyes